{% extends 'base.html.twig' %}

{% block body %}
    <div class="container col-md-8 col-md-offset-2">
        <div class="jumbotron">
            <h2>deployed über <a href="https://heroku.com">Heroku</a></h2>
            <h2><a href="https://gitlab.com/gitseti/symfony-test-app/tree/master">Gitlab Repository</a></h2>
        </div>
    </div>
{% endblock %}
