.navbar{
  background-color: rgb(255, 255, 255);
  border-color: transparent;
}
nav{
  font-family: 'Raleway';
}
body{
  font-family: 'Raleway';
}
.jumbotron{
  background-color: rgb(255, 255, 255);
}

form {
  margin-top: 50px;
 background-color: white;
 padding-bottom: 15px;
 border-radius: 1px;
}
