{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
            <form class="form-signin col-md-4 col-md-offset-4">
                <h2 class="form-signin-heading">Bitte melden Sie sich an</h2>
                <label class="sr-only" for="inputEmail">E-Mail Adresse</label>
                <input type="email" autofocus="" required="" placeholder="E-Mail" class="form-control" id="inputEmail">
                <label class="sr-only" for="inputPassword">Password</label>
                <input type="password" required="" placeholder="Password" class="form-control" id="inputPassword">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me">
                        Erinner mich
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Anmelden</button>
            </form>
    </div>
{% endblock %}
