<!-- Hallo Wastl. Anscheinend hast du deinen HTML File gefunden.
     Wie du siehst besteht die Dateiendung nicht nur aus .html, sondern .html.twig.
     Durch das erweiterte Dateiformat twig sind php Skripte deutlich einfacher in html Dateien auszuführen.
     Um php Code auszuführen gibt es { { php-code } }. So kannst du z.B mit <h1> Mein Name ist { { var } }</h1>, einen
     Namen dynamisch in den Html Code einfügen. var wird i.d.R vom Controller übergeben. (Unter src/AppBundle/Controller zu finden).
     Um nun meine vorgefertigte Navigationsbar u. Seitenlayout auch auf deiner Seite zu nutzen musst du den base.html.twig file includen.
     Wie das geht kannst du unter app/views/default/index.html.twig beobachten. Um nun deinen Html Code in den body-tag von
     base.html.twig einzufügen musst du ein weiteres Twig Idiom nutzen, welches du bestimmt schon im index.html.twig file erkannt hast.
     Starte ruhig mal den Server via $php bin/console server:run . Jetzt öffne im Browser die Adresse http://localhost:8000/test/wastl, um deine Seite
     in Aktion zu sehen.-->

<h1>Hallo vom Wastl</h1>
